<!--
    Displaying the home page
-->
<div class="home jumbotron jumbotron-fluid">
    <div class="container">
        <div class="text">
            <h1 class="display-4 mb-5">Explore the foodie in you.</h1>
            <button class="btn btn-lg btn-orange"><a href="/posts">Explore Recipes</a></button>
        </div>
    </div>
</div>